# Node.js dependencies
node_modules/

# Cypress output folders
cypress/screenshots/
cypress/videos/
cypress/downloads/

# Cypress cache
.cypress_cache/

# Build and coverage
build/
dist/
coverage/

# Environment variable files
.env
.env.local
.env.*.local

# Logs
*.log
logs/

# IDEs and editors
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# OS-specific files
.DS_Store
Thumbs.db

# Optional: ignore test results
test-results/



